<%= link_to fishing_report_favorites_path(@f_report), method: :delete, id: "favorites", remote: true do %>
<span class="glyphicon glyphicon-thumbs-up yellow" aria-hidden="true"><%= @f_report.favorites.count %></span>いいね
<% end %>