<div class="contract_box">
	<br>
	<h1>BASSCOCOPOLICY</h1>
	<br>
	※BASSCOCO利用にあたり、BASSCOCOは利用者の善意で成り立っているサイトです。<br>
	人に不快感を与える様な不適切な投稿や、投稿に対し不適切なコメントをするのは禁止となっています。<br>守れない方は強制的に退会させていただく場合がありますのでご了承ください。
	<br>
	<br>
	<h4>マナーを守って楽しい釣りを！</h4>
	<br>
	<div class=contract_text_show>
		①先行者に挨拶をする<br>
		釣りに限らず社会の中で基本的な所作であるが、先行者に挨拶もせずにポイントに入ってくるアングラーもいる。無言で見知らぬ人が隣で釣りをし出したら気持ちの良いものではないだろう。
		「こんにちは」と一声かけるだけでも十分なので、先行者が居たら挨拶をするようにすればお互い気持ちよく釣りをすることができる。その際に、さらに釣果を聞いたりすれば、思わぬ情報が手に入るかも。<br>
		<br>
		②釣り場に割り込まない<br>
		人気のフィールドともなると、夜明けからアングラーが集まり、釣りをする場所を確保するのが難しいこともある。しかし、アングラーの間の狭いスペースに割り込んで釣りをするのは、たとえ声掛けをしたとしてもお祭りなどのトラブルの元にもなり、あまり好ましくない行為です。
		友人同士なら構わないが、自身が釣りをする十分なスペースが無い場合は空くまで待つか、他の釣り場に行くようにしよう。<br>
		<br>
		③ルアー釣りの場合の注意点<br>
		ルアーのアングラーと餌釣りのアングラーがトラブルを起こすというのは良く聞く話。餌釣りのアングラーの近くで竿を振るのを避けるのが無難だが、間のスペースをしっかりとり、お祭りをしないよう注意してルアーをキャストすれば問題は無いだろう。やはりここでも、最初に挨拶をすることでトラブルを回避することができる可能性もある。<br>
		<br>
		④ゴミは持ち帰る<br>
		当たり前のことであるが、最低でも自分で出したゴミは持ち帰るべき。自分のゴミでなくとも近くに落ちているゴミがあったら見過ごさずに回収しよう。<br>
		<br>
		⑥を放置しない<br>
		外道が釣れるとイライラしてそのまま陸に放置するアングラーは多いが、普通のアングラーからしてみれば大変不快な行為。放置したとしても外道の数が減るわけでもなく、条例・漁業調整規則に違反しない範囲で食べるために持ち帰るか、優しくリリースしてあげよう。<br>
		<br>
		⑦大声にも注意<br>
		仲間同士で釣りをしていると、ついつい楽しく大声で笑ったり話したりしがちだが、それを良く思わない他のアングラーもいる。決して小声で話せというわけではなく、ある程度の限度を守って会話をしよう。<br>
		<br>
		⑧ヘッドライトを当てない<br>
		ヘッドライトは非常に光が強いものも多く、他の人に光を当てるとまぶしく視界を奪うため危険だ。なるべく人の顔を照らさないように注意しよう。<br>
		<br>
		⑨マナーを守って快適な釣りを<br>
		守るべきマナーを挙げればきりがないが、マナーを守って、みんなで釣りを楽しみましょう。<br>
		<br>
		
		
	</div>
	<br>
	<a href="#" onclick="javascript:window.history.back(-1);return false;">Back</a>
	<br>
	<br>
	<br>
	<br>
</div>