// Place all the styles related to the fishing_spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top_background {
  width: 100%;
  height: calc(100% - 80px);
  background-image: image-url("fuzi.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.map{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.map-image {
  width: 100%;
}

.spot111 {
	background-color: #000;
	color: #fff;
}

.main-visual{
  width: 100%;
  padding: 50px 50px
  
}

.description{
  padding: 50px 50px;
}

.spot_number_box{
  text-align: left;
  height: 100%;
  margin: 50px auto;
}

.pagenate_btn{
  text-align: center;
}

.text_box{
  color: #fff
}

.text_box a{
  color: #fff
}

.pagination a{
  color: #fff
}

.pagination{
  color: #fff
}

.notice{
  font-size: 40px;
  color: #fff;
  text-align: center;
}

.spot_text{
  color: #fff
}

.spot_text a{
  color: #fff
}

.show_contents{
  color: #fff;
  text-align: center;
}

div.show_scroll {
  width: 90%;
  height: 90%;
  padding: 5px 5px;
  margin: 0 auto;
  color: #fff;
  overflow: scroll;
}

.spot_subtitle{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.spot_subtitle_text{
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
    
.show_background{
  background-image: image-url("spotbg.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
}

.spot_subtitle{
  color: #fff;
}


.title_text h1{
padding-top: 20%;
font-family: 'Permanent Marker', cursive;
text-align:center;
font-weight:normal;
color:#000;
margin: 0 auto;
height: 100vh;

}
.maintitle{
display:block;
font-size:72px;
letter-spacing:-4px;
text-shadow:1px 1px 3px #ccc,
1px -1px 3px #ccc,
-1px 1px 3px #ccc,
-1px -1px 3px #ccc;
}

.response{
    display: none;
}


@media screen and (max-width:768px) {  

  .spot_number_box{
    width: 50%;
    margin: 50px auto;
  }

  .nomal{
    display: none;
  }

  .response{
    display: block;
    text-align: left;
  }

.text a{
  color: #fff!important;
}

}

