// Place all the styles related to the tackle_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%;
  background-image: image-url("tackle.jpg");
  background-position: bottom center;
  background-attachment: fixed;
  background-size: cover;
}

.tackle_box{
	text-align: center;
	color: #fff
}

.col-md-1 a{
	color: #fff
}

.tackle_new{
	text-align: center;
	margin: 0 auto;
}

.tackle_new .a {
	margin:0 auto;
}

.response{
	display: none;
 }

@media screen and (max-width:768px) {  

	.nomal{
		display: none;
	}

	.response{
		display: block;
		text-align: left;
	}

	.show_image_box{
		text-align: center;
		width: 90%;
	}

}
