// Place all the styles related to the tackle_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 100%;
  height: 100%;
  background-image: url("fuzi.jpg");
}

.tackle_box{
	text-align: center;
	color: #fff
}

.col-md-1 a{
	color: #fff
}

.tackle_new{
	text-align: center;
	margin: 0 auto;
}

.tackle_new .a {
	margin:0 auto;
}